.div__game-over {
    z-index: 2;
    width: 50vw;
    height: 50vh;  
    padding-top: 10vh;
    color: white;
    background-color:rgba(0, 0, 0, 0.861);
    align-content: center;
    border-radius: 2vw;
}

.div__h2___game-over {
    display: flex;
    justify-content: center;
}

.button__try-again {
    margin: 2vw;
    padding: 0.5vw;
}

@media screen and (max-width: 1000px) {
    .div__game-over {
        height: 25vh;
        width: 70vw;
    }
}