.word-div {
    font-size: 2vw;
    justify-content: center;
    padding-top: 1vw;
}

.word-display {
    font-size: 3vw;
    padding: 2vw;
}

@media screen and (max-width: 900px) {
    .word-div {
        font-size: 2.3vh;
    }

    .word-display {
        font-size: 8vw;
    }
}