@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  font-family: 'Architects Daughter', cursive;
  margin: 0;
  padding: 0;
}

.hangman-game {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 250, 250, 0.909),
    rgba(110, 109, 109, 0.441)
  ),url(./assets/images/initial_background.jpg);
  background-size: 50%;
  height: 130vh;
}

.hangman-game__header {
  padding: 4vh;
  height: 5vh;
  align-self: center;
  justify-content: center;
  font-size: 4vh;
  color: rgb(0, 0, 0);
  background-color: transparent;
}

.hangman-game__body {
  padding: 2vw;
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.div__control {
  display: grid;
  width: 95%;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  background-color: transparent;
}

.p__attempts {
  padding: 2vw;
  font-size: 1.3vw;
}

.p__button {
  padding: 1.5vw;
}

.button__newgame {
  padding: 0.5vw;
  color: white;
  background-color: rgb(86, 86, 86);
}

.div__word-keyboard {
  display: block;
  align-items: center;
  padding: 3vw;
}

.div__stickman {
  display: flex;
  justify-content: center;
}

.div__end {
  z-index: 3;
  position: absolute;
  margin-top: 25vh;
}

@media screen and (max-width: 900px) {
  .hangman-game__body {
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .p__attempts {
    margin-top: 2vh;
    font-size: 1.7vh;
  }

  .p__button {
    margin-top: 2vh;
  }
    
  .hangman-game__header {
      padding: 4vh;
  }

  .div__control {
    grid-template-columns: 1fr 1fr;
  }

  .div__word-keyboard {
    align-items: center;
    grid-row: 1;
    padding: 5vh;
  }
  
  .div__stickman {
    display: flex;
    justify-content: center;
    grid-row: 2;
  }

  .div__end {
    z-index: 3;
    margin-top: 20vh;
  }

}