@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  font-family: 'Architects Daughter', cursive;
}

.HangmanGame {
  text-align: center;

}

.HangmanGame-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.button-newgame {
  margin: 1vw;
  padding: 0.5vw;
  color: white;
  background-color: rgb(86, 86, 86);
}
